server:
  port: 8080
spring:
  datasource:
    druid:
      url: jdbc:mysql://localhost:3399/spring_security2?useUnicode=true&characterEncoding=utf-8&useSSL=false
      username: root
      password: ljw13112009529
      driver-class-name: com.mysql.jdbc.Driver
  redis:
    host: localhost
    port: 6379
    database: 0
    timeout: 2000
    password: ljw13112009529
    jedis:
      pool:
        max-wait: 1000ms
        max-active: 16
        max-idle: 16
        min-idle: 2
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  type-aliases-package: priv.eternasparkle.entity
  mapper-locations: classpath*:mapper/*Mapper.xml
  global-config:
    db-config:
      table-prefix: tbl_

